:root {
  --light1: rgb(196, 101, 101); /*header & topics*/
  --light2: rgb(182, 149, 155); /*items*/
  --light3: rgb(65, 22, 22); /*font*/
  --dark1: rgb(65, 22, 22); /*header & topics*/
  --dark2: rgb(95, 27, 27); /*items*/
  --dark3: rgb(182, 149, 155); /*font*/
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: darkgray;
}


header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkgray;
    position: fixed;
    color: rgb(60, 60, 60);
}

.navStyle {
    display: flex;
    justify-content: space-between;
    padding: 20px;  
}


a {
  color: black;
}


/* PHONE VERSION */

.sectionStyle {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(60, 60, 60);
    height: 100%;
}

.topics {
    display: flex;
    flex-direction: row;
    background-color: darkgray;
    width: 100%;
    margin-top: 80px;
  
}

.items {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 100%;
}

.container {
    padding: 20px;
}

/* _ */

#todo-text {
  width: 100%;
}

#todo-add {
  width: 200px;
}





/* COPY PASTE FROM https://www.w3schools.com/howto/howto_js_todolist.asp) */

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


/* DIDNT ADD:
/* Style the header 
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header
.header:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}










/* DARK MODE */

.dark {
    background-color: rgb(43, 40, 40);
    
    .header {
      background-color: rgb(43, 40, 40);
      color: rgb(209, 201, 201);
    }

    .topics  {
      background-color: rgb(43, 40, 40);
      color: rgb(209, 201, 201);
    }
    
    .items {
      background-color: rgb(99, 96, 96);
    }

    a {
      color: rgb(209, 201, 201);
    }
}




/* Font */
/* - */




/* Switch Desigm*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  


/* DESKTOP VERSION */

@media(min-width: 768px) {
	.sectionStyle {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: black;
    height: 100%;
}

.topics {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    width: 25%;

}

.items {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 75%;
}

.container {
    height: 100%; /*necessary?*/
    margin-top: 80px;
    padding: 20px;
}

#todo-text {
  width: 550px;
}

}
